.rocket-cursor {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  font-size: 32px;
  pointer-events: none;
  z-index: 99999;
}

.smoke-particle {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99998;

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8),
    transparent
  );

  animation: smoke .5s ease-out forwards;
}

@keyframes smoke {
  from {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4);
  }
}